body {
    text-align: center;
}
.centered-div {
    width: 200px;
    height: 200px;
    /*handles horizontal centering on a block level elementwith defined width*/
    margin: 0 auto;
    background-color: aqua;
}
.relative-parent {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: crimson;
}

.absolute-child {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);/*this moves the element by 50% of height*/
    background-color: black;
}